NODE_ENV
PORT

DATABASE_HOST
DATABASE_NAME
DATABASE_USER
DATABASE_PASSWORD
DATABASE_DIALECT
DATABASE_LOGGING
DATABASE_MIN
DATABASE_MAX
DATABASE_IDLE
DATABASE_ACQUIRE
DATABASE_TIMESTAMPS

JWTSECRET
JWTEXPIRESIN

CLOUDINARY_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET
CLOUDINARY_URL

GOOGLE_URL
GOOGLE_KEY


